<Type Name="CommandMapper" FullName="Microsoft.Maui.CommandMapper">
  <TypeSignature Language="C#" Value="public abstract class CommandMapper : Microsoft.Maui.ICommandMapper" />
  <TypeSignature Language="ILAsm" Value=".class public auto ansi abstract beforefieldinit CommandMapper extends System.Object implements class Microsoft.Maui.ICommandMapper" />
  <TypeSignature Language="DocId" Value="T:Microsoft.Maui.CommandMapper" />
  <TypeSignature Language="VB.NET" Value="Public MustInherit Class CommandMapper&#xA;Implements ICommandMapper" />
  <TypeSignature Language="C++ CLI" Value="public ref class CommandMapper abstract : Microsoft::Maui::ICommandMapper" />
  <TypeSignature Language="F#" Value="type CommandMapper = class&#xA;    interface ICommandMapper" />
  <AssemblyInfo>
    <AssemblyName>Microsoft.Maui</AssemblyName>
    <AssemblyVersion>1.0.0.0</AssemblyVersion>
  </AssemblyInfo>
  <Base>
    <BaseTypeName>System.Object</BaseTypeName>
  </Base>
  <Interfaces>
    <Interface>
      <InterfaceName>Microsoft.Maui.ICommandMapper</InterfaceName>
    </Interface>
  </Interfaces>
  <Docs>
    <summary>To be added.</summary>
    <remarks>To be added.</remarks>
  </Docs>
  <Members>
    <Member MemberName=".ctor">
      <MemberSignature Language="C#" Value="public CommandMapper ();" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig specialname rtspecialname instance void .ctor() cil managed" />
      <MemberSignature Language="DocId" Value="M:Microsoft.Maui.CommandMapper.#ctor" />
      <MemberSignature Language="VB.NET" Value="Public Sub New ()" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; CommandMapper();" />
      <MemberType>Constructor</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Maui</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Parameters />
      <Docs>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName=".ctor">
      <MemberSignature Language="C#" Value="public CommandMapper (Microsoft.Maui.CommandMapper chained);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig specialname rtspecialname instance void .ctor(class Microsoft.Maui.CommandMapper chained) cil managed" />
      <MemberSignature Language="DocId" Value="M:Microsoft.Maui.CommandMapper.#ctor(Microsoft.Maui.CommandMapper)" />
      <MemberSignature Language="VB.NET" Value="Public Sub New (chained As CommandMapper)" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; CommandMapper(Microsoft::Maui::CommandMapper ^ chained);" />
      <MemberSignature Language="F#" Value="new Microsoft.Maui.CommandMapper : Microsoft.Maui.CommandMapper -&gt; Microsoft.Maui.CommandMapper" Usage="new Microsoft.Maui.CommandMapper chained" />
      <MemberType>Constructor</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Maui</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Parameters>
        <Parameter Name="chained" Type="Microsoft.Maui.CommandMapper" />
      </Parameters>
      <Docs>
        <param name="chained">To be added.</param>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="Chained">
      <MemberSignature Language="C#" Value="public Microsoft.Maui.CommandMapper? Chained { get; set; }" />
      <MemberSignature Language="ILAsm" Value=".property instance class Microsoft.Maui.CommandMapper Chained" />
      <MemberSignature Language="DocId" Value="P:Microsoft.Maui.CommandMapper.Chained" />
      <MemberSignature Language="VB.NET" Value="Public Property Chained As CommandMapper" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; property Microsoft::Maui::CommandMapper ^ Chained { Microsoft::Maui::CommandMapper ^ get(); void set(Microsoft::Maui::CommandMapper ^ value); };" />
      <MemberSignature Language="F#" Value="member this.Chained : Microsoft.Maui.CommandMapper with get, set" Usage="Microsoft.Maui.CommandMapper.Chained" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Maui</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>Microsoft.Maui.CommandMapper</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>To be added.</summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="GetCommand">
      <MemberSignature Language="C#" Value="public virtual Action&lt;Microsoft.Maui.IElementHandler,Microsoft.Maui.IElement,object?&gt;? GetCommand (string key);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig newslot virtual instance class System.Action`3&lt;class Microsoft.Maui.IElementHandler, class Microsoft.Maui.IElement, object&gt; GetCommand(string key) cil managed" />
      <MemberSignature Language="DocId" Value="M:Microsoft.Maui.CommandMapper.GetCommand(System.String)" />
      <MemberSignature Language="VB.NET" Value="Public Overridable Function GetCommand (key As String) As Action(Of IElementHandler, IElement, Object)" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; virtual Action&lt;Microsoft::Maui::IElementHandler ^, Microsoft::Maui::IElement ^, System::Object ^&gt; ^ GetCommand(System::String ^ key);" />
      <MemberSignature Language="F#" Value="abstract member GetCommand : string -&gt; Action&lt;Microsoft.Maui.IElementHandler, Microsoft.Maui.IElement, obj&gt;&#xA;override this.GetCommand : string -&gt; Action&lt;Microsoft.Maui.IElementHandler, Microsoft.Maui.IElement, obj&gt;" Usage="commandMapper.GetCommand key" />
      <MemberType>Method</MemberType>
      <Implements>
        <InterfaceMember>M:Microsoft.Maui.ICommandMapper.GetCommand(System.String)</InterfaceMember>
      </Implements>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Maui</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Action&lt;Microsoft.Maui.IElementHandler,Microsoft.Maui.IElement,System.Object&gt;</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="key" Type="System.String" />
      </Parameters>
      <Docs>
        <param name="key">To be added.</param>
        <summary>To be added.</summary>
        <returns>To be added.</returns>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="Invoke">
      <MemberSignature Language="C#" Value="public void Invoke (Microsoft.Maui.IElementHandler viewHandler, Microsoft.Maui.IElement? virtualView, string property, object? args);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig newslot virtual instance void Invoke(class Microsoft.Maui.IElementHandler viewHandler, class Microsoft.Maui.IElement virtualView, string property, object args) cil managed" />
      <MemberSignature Language="DocId" Value="M:Microsoft.Maui.CommandMapper.Invoke(Microsoft.Maui.IElementHandler,Microsoft.Maui.IElement,System.String,System.Object)" />
      <MemberSignature Language="VB.NET" Value="Public Sub Invoke (viewHandler As IElementHandler, virtualView As IElement, property As String, args As Object)" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; virtual void Invoke(Microsoft::Maui::IElementHandler ^ viewHandler, Microsoft::Maui::IElement ^ virtualView, System::String ^ property, System::Object ^ args);" />
      <MemberSignature Language="F#" Value="abstract member Invoke : Microsoft.Maui.IElementHandler * Microsoft.Maui.IElement * string * obj -&gt; unit&#xA;override this.Invoke : Microsoft.Maui.IElementHandler * Microsoft.Maui.IElement * string * obj -&gt; unit" Usage="commandMapper.Invoke (viewHandler, virtualView, property, args)" />
      <MemberType>Method</MemberType>
      <Implements>
        <InterfaceMember>M:Microsoft.Maui.ICommandMapper.Invoke(Microsoft.Maui.IElementHandler,Microsoft.Maui.IElement,System.String,System.Object)</InterfaceMember>
      </Implements>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Maui</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="viewHandler" Type="Microsoft.Maui.IElementHandler" />
        <Parameter Name="virtualView" Type="Microsoft.Maui.IElement" />
        <Parameter Name="property" Type="System.String" />
        <Parameter Name="args" Type="System.Object" />
      </Parameters>
      <Docs>
        <param name="viewHandler">To be added.</param>
        <param name="virtualView">To be added.</param>
        <param name="property">To be added.</param>
        <param name="args">To be added.</param>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
  </Members>
</Type>
