<Type Name="CommandMapper" FullName="Microsoft.Maui.CommandMapper">
  <TypeSignature Language="C#" Value="public abstract class CommandMapper" />
  <TypeSignature Language="ILAsm" Value=".class public auto ansi abstract beforefieldinit CommandMapper extends System.Object" />
  <TypeSignature Language="DocId" Value="T:Microsoft.Maui.CommandMapper" />
  <TypeSignature Language="VB.NET" Value="Public MustInherit Class CommandMapper" />
  <TypeSignature Language="C++ CLI" Value="public ref class CommandMapper abstract" />
  <TypeSignature Language="F#" Value="type CommandMapper = class" />
  <AssemblyInfo>
    <AssemblyName>Microsoft.Maui</AssemblyName>
    <AssemblyVersion>1.0.0.0</AssemblyVersion>
  </AssemblyInfo>
  <Base>
    <BaseTypeName>System.Object</BaseTypeName>
  </Base>
  <Interfaces />
  <Docs>
    <summary>To be added.</summary>
    <remarks>To be added.</remarks>
  </Docs>
  <Members>
    <Member MemberName=".ctor">
      <MemberSignature Language="C#" Value="public CommandMapper ();" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig specialname rtspecialname instance void .ctor() cil managed" />
      <MemberSignature Language="DocId" Value="M:Microsoft.Maui.CommandMapper.#ctor" />
      <MemberSignature Language="VB.NET" Value="Public Sub New ()" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; CommandMapper();" />
      <MemberType>Constructor</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Maui</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Parameters />
      <Docs>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName=".ctor">
      <MemberSignature Language="C#" Value="public CommandMapper (Microsoft.Maui.CommandMapper chained);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig specialname rtspecialname instance void .ctor(class Microsoft.Maui.CommandMapper chained) cil managed" />
      <MemberSignature Language="DocId" Value="M:Microsoft.Maui.CommandMapper.#ctor(Microsoft.Maui.CommandMapper)" />
      <MemberSignature Language="VB.NET" Value="Public Sub New (chained As CommandMapper)" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; CommandMapper(Microsoft::Maui::CommandMapper ^ chained);" />
      <MemberSignature Language="F#" Value="new Microsoft.Maui.CommandMapper : Microsoft.Maui.CommandMapper -&gt; Microsoft.Maui.CommandMapper" Usage="new Microsoft.Maui.CommandMapper chained" />
      <MemberType>Constructor</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Maui</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Parameters>
        <Parameter Name="chained" Type="Microsoft.Maui.CommandMapper" />
      </Parameters>
      <Docs>
        <param name="chained">To be added.</param>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="Chained">
      <MemberSignature Language="C#" Value="public Microsoft.Maui.CommandMapper? Chained { get; set; }" />
      <MemberSignature Language="ILAsm" Value=".property instance class Microsoft.Maui.CommandMapper Chained" />
      <MemberSignature Language="DocId" Value="P:Microsoft.Maui.CommandMapper.Chained" />
      <MemberSignature Language="VB.NET" Value="Public Property Chained As CommandMapper" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; property Microsoft::Maui::CommandMapper ^ Chained { Microsoft::Maui::CommandMapper ^ get(); void set(Microsoft::Maui::CommandMapper ^ value); };" />
      <MemberSignature Language="F#" Value="member this.Chained : Microsoft.Maui.CommandMapper with get, set" Usage="Microsoft.Maui.CommandMapper.Chained" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Maui</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>Microsoft.Maui.CommandMapper</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>To be added.</summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="GetCommand">
      <MemberSignature Language="C#" Value="public virtual Action&lt;Microsoft.Maui.IElementHandler,Microsoft.Maui.IElement,object?&gt;? GetCommand (string key);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig newslot virtual instance class System.Action`3&lt;class Microsoft.Maui.IElementHandler, class Microsoft.Maui.IElement, object&gt; GetCommand(string key) cil managed" />
      <MemberSignature Language="DocId" Value="M:Microsoft.Maui.CommandMapper.GetCommand(System.String)" />
      <MemberSignature Language="VB.NET" Value="Public Overridable Function GetCommand (key As String) As Action(Of IElementHandler, IElement, Object)" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; virtual Action&lt;Microsoft::Maui::IElementHandler ^, Microsoft::Maui::IElement ^, System::Object ^&gt; ^ GetCommand(System::String ^ key);" />
      <MemberSignature Language="F#" Value="abstract member GetCommand : string -&gt; Action&lt;Microsoft.Maui.IElementHandler, Microsoft.Maui.IElement, obj&gt;&#xA;override this.GetCommand : string -&gt; Action&lt;Microsoft.Maui.IElementHandler, Microsoft.Maui.IElement, obj&gt;" Usage="commandMapper.GetCommand key" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Maui</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Action&lt;Microsoft.Maui.IElementHandler,Microsoft.Maui.IElement,System.Object&gt;</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="key" Type="System.String" />
      </Parameters>
      <Docs>
        <param name="key">To be added.</param>
        <summary>To be added.</summary>
        <returns>To be added.</returns>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
  </Members>
</Type>
