<Type Name="IPropertyMapper" FullName="Microsoft.Maui.IPropertyMapper">
  <TypeSignature Language="C#" Value="public interface IPropertyMapper" />
  <TypeSignature Language="ILAsm" Value=".class public interface auto ansi abstract IPropertyMapper" />
  <TypeSignature Language="DocId" Value="T:Microsoft.Maui.IPropertyMapper" />
  <TypeSignature Language="VB.NET" Value="Public Interface IPropertyMapper" />
  <TypeSignature Language="C++ CLI" Value="public interface class IPropertyMapper" />
  <TypeSignature Language="F#" Value="type IPropertyMapper = interface" />
  <AssemblyInfo>
    <AssemblyName>Microsoft.Maui</AssemblyName>
    <AssemblyVersion>1.0.0.0</AssemblyVersion>
  </AssemblyInfo>
  <Interfaces />
  <Docs>
    <summary>To be added.</summary>
    <remarks>To be added.</remarks>
  </Docs>
  <Members>
    <Member MemberName="GetKeys">
      <MemberSignature Language="C#" Value="public System.Collections.Generic.IEnumerable&lt;string&gt; GetKeys ();" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig newslot virtual instance class System.Collections.Generic.IEnumerable`1&lt;string&gt; GetKeys() cil managed" />
      <MemberSignature Language="DocId" Value="M:Microsoft.Maui.IPropertyMapper.GetKeys" />
      <MemberSignature Language="VB.NET" Value="Public Function GetKeys () As IEnumerable(Of String)" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; System::Collections::Generic::IEnumerable&lt;System::String ^&gt; ^ GetKeys();" />
      <MemberSignature Language="F#" Value="abstract member GetKeys : unit -&gt; seq&lt;string&gt;" Usage="iPropertyMapper.GetKeys " />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Maui</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Collections.Generic.IEnumerable&lt;System.String&gt;</ReturnType>
      </ReturnValue>
      <Parameters />
      <Docs>
        <summary>To be added.</summary>
        <returns>To be added.</returns>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="GetProperty">
      <MemberSignature Language="C#" Value="public Action&lt;Microsoft.Maui.IElementHandler,Microsoft.Maui.IElement&gt;? GetProperty (string key);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig newslot virtual instance class System.Action`2&lt;class Microsoft.Maui.IElementHandler, class Microsoft.Maui.IElement&gt; GetProperty(string key) cil managed" />
      <MemberSignature Language="DocId" Value="M:Microsoft.Maui.IPropertyMapper.GetProperty(System.String)" />
      <MemberSignature Language="VB.NET" Value="Public Function GetProperty (key As String) As Action(Of IElementHandler, IElement)" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; Action&lt;Microsoft::Maui::IElementHandler ^, Microsoft::Maui::IElement ^&gt; ^ GetProperty(System::String ^ key);" />
      <MemberSignature Language="F#" Value="abstract member GetProperty : string -&gt; Action&lt;Microsoft.Maui.IElementHandler, Microsoft.Maui.IElement&gt;" Usage="iPropertyMapper.GetProperty key" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Maui</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Action&lt;Microsoft.Maui.IElementHandler,Microsoft.Maui.IElement&gt;</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="key" Type="System.String" />
      </Parameters>
      <Docs>
        <param name="key">To be added.</param>
        <summary>To be added.</summary>
        <returns>To be added.</returns>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="UpdateProperties">
      <MemberSignature Language="C#" Value="public void UpdateProperties (Microsoft.Maui.IElementHandler elementHandler, Microsoft.Maui.IElement virtualView);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig newslot virtual instance void UpdateProperties(class Microsoft.Maui.IElementHandler elementHandler, class Microsoft.Maui.IElement virtualView) cil managed" />
      <MemberSignature Language="DocId" Value="M:Microsoft.Maui.IPropertyMapper.UpdateProperties(Microsoft.Maui.IElementHandler,Microsoft.Maui.IElement)" />
      <MemberSignature Language="VB.NET" Value="Public Sub UpdateProperties (elementHandler As IElementHandler, virtualView As IElement)" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; void UpdateProperties(Microsoft::Maui::IElementHandler ^ elementHandler, Microsoft::Maui::IElement ^ virtualView);" />
      <MemberSignature Language="F#" Value="abstract member UpdateProperties : Microsoft.Maui.IElementHandler * Microsoft.Maui.IElement -&gt; unit" Usage="iPropertyMapper.UpdateProperties (elementHandler, virtualView)" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Maui</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="elementHandler" Type="Microsoft.Maui.IElementHandler" />
        <Parameter Name="virtualView" Type="Microsoft.Maui.IElement" />
      </Parameters>
      <Docs>
        <param name="elementHandler">To be added.</param>
        <param name="virtualView">To be added.</param>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="UpdateProperty">
      <MemberSignature Language="C#" Value="public void UpdateProperty (Microsoft.Maui.IElementHandler elementHandler, Microsoft.Maui.IElement virtualView, string property);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig newslot virtual instance void UpdateProperty(class Microsoft.Maui.IElementHandler elementHandler, class Microsoft.Maui.IElement virtualView, string property) cil managed" />
      <MemberSignature Language="DocId" Value="M:Microsoft.Maui.IPropertyMapper.UpdateProperty(Microsoft.Maui.IElementHandler,Microsoft.Maui.IElement,System.String)" />
      <MemberSignature Language="VB.NET" Value="Public Sub UpdateProperty (elementHandler As IElementHandler, virtualView As IElement, property As String)" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; void UpdateProperty(Microsoft::Maui::IElementHandler ^ elementHandler, Microsoft::Maui::IElement ^ virtualView, System::String ^ property);" />
      <MemberSignature Language="F#" Value="abstract member UpdateProperty : Microsoft.Maui.IElementHandler * Microsoft.Maui.IElement * string -&gt; unit" Usage="iPropertyMapper.UpdateProperty (elementHandler, virtualView, property)" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Maui</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="elementHandler" Type="Microsoft.Maui.IElementHandler" />
        <Parameter Name="virtualView" Type="Microsoft.Maui.IElement" />
        <Parameter Name="property" Type="System.String" />
      </Parameters>
      <Docs>
        <param name="elementHandler">To be added.</param>
        <param name="virtualView">To be added.</param>
        <param name="property">To be added.</param>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
  </Members>
</Type>
