<Type Name="PropertyMapper" FullName="Microsoft.Maui.PropertyMapper">
  <TypeSignature Language="C#" Value="public abstract class PropertyMapper : Microsoft.Maui.IPropertyMapper" />
  <TypeSignature Language="ILAsm" Value=".class public auto ansi abstract beforefieldinit PropertyMapper extends System.Object implements class Microsoft.Maui.IPropertyMapper" />
  <TypeSignature Language="DocId" Value="T:Microsoft.Maui.PropertyMapper" />
  <TypeSignature Language="VB.NET" Value="Public MustInherit Class PropertyMapper&#xA;Implements IPropertyMapper" />
  <TypeSignature Language="C++ CLI" Value="public ref class PropertyMapper abstract : Microsoft::Maui::IPropertyMapper" />
  <TypeSignature Language="F#" Value="type PropertyMapper = class&#xA;    interface IPropertyMapper" />
  <AssemblyInfo>
    <AssemblyName>Microsoft.Maui</AssemblyName>
    <AssemblyVersion>1.0.0.0</AssemblyVersion>
    <AssemblyVersion>9.0.0.0</AssemblyVersion>
    <AssemblyVersion>10.0.0.0</AssemblyVersion>
  </AssemblyInfo>
  <Base>
    <BaseTypeName>System.Object</BaseTypeName>
  </Base>
  <Interfaces>
    <Interface>
      <InterfaceName>Microsoft.Maui.IPropertyMapper</InterfaceName>
    </Interface>
  </Interfaces>
  <Attributes>
    <Attribute>
      <AttributeName Language="C#">[System.Runtime.CompilerServices.Nullable(0)]</AttributeName>
      <AttributeName Language="F#">[&lt;System.Runtime.CompilerServices.Nullable(0)&gt;]</AttributeName>
    </Attribute>
  </Attributes>
  <Docs>
    <summary>To be added.</summary>
    <remarks>To be added.</remarks>
  </Docs>
  <Members>
    <Member MemberName=".ctor">
      <MemberSignature Language="C#" Value="public PropertyMapper ();" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig specialname rtspecialname instance void .ctor() cil managed" />
      <MemberSignature Language="DocId" Value="M:Microsoft.Maui.PropertyMapper.#ctor" />
      <MemberSignature Language="VB.NET" Value="Public Sub New ()" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; PropertyMapper();" />
      <MemberType>Constructor</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Maui</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
        <AssemblyVersion>10.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Parameters />
      <Docs>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName=".ctor">
      <MemberSignature Language="C#" Value="public PropertyMapper (params Microsoft.Maui.IPropertyMapper[]? chained);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig specialname rtspecialname instance void .ctor(class Microsoft.Maui.IPropertyMapper[] chained) cil managed" />
      <MemberSignature Language="DocId" Value="M:Microsoft.Maui.PropertyMapper.#ctor(Microsoft.Maui.IPropertyMapper[])" />
      <MemberSignature Language="VB.NET" Value="Public Sub New (ParamArray chained As IPropertyMapper())" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; PropertyMapper(... cli::array &lt;Microsoft::Maui::IPropertyMapper ^&gt; ^ chained);" />
      <MemberSignature Language="F#" Value="new Microsoft.Maui.PropertyMapper : Microsoft.Maui.IPropertyMapper[] -&gt; Microsoft.Maui.PropertyMapper" Usage="new Microsoft.Maui.PropertyMapper chained" />
      <MemberType>Constructor</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Maui</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
        <AssemblyVersion>10.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Parameters>
        <Parameter Name="chained" Type="Microsoft.Maui.IPropertyMapper[]">
          <Attributes>
            <Attribute>
              <AttributeName Language="C#">[System.ParamArray]</AttributeName>
              <AttributeName Language="F#">[&lt;System.ParamArray&gt;]</AttributeName>
            </Attribute>
            <Attribute>
              <AttributeName Language="C#">[System.Runtime.CompilerServices.Nullable(new System.Byte[] { 2, 1 })]</AttributeName>
              <AttributeName Language="F#">[&lt;System.Runtime.CompilerServices.Nullable(new System.Byte[] { 2, 1 })&gt;]</AttributeName>
            </Attribute>
          </Attributes>
        </Parameter>
      </Parameters>
      <Docs>
        <param name="chained">To be added.</param>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="_mapper">
      <MemberSignature Language="C#" Value="protected readonly System.Collections.Generic.Dictionary&lt;string,Action&lt;Microsoft.Maui.IElementHandler,Microsoft.Maui.IElement&gt;&gt; _mapper;" />
      <MemberSignature Language="ILAsm" Value=".field family initonly class System.Collections.Generic.Dictionary`2&lt;string, class System.Action`2&lt;class Microsoft.Maui.IElementHandler, class Microsoft.Maui.IElement&gt;&gt; _mapper" />
      <MemberSignature Language="DocId" Value="F:Microsoft.Maui.PropertyMapper._mapper" />
      <MemberSignature Language="VB.NET" Value="Protected ReadOnly _mapper As Dictionary(Of String, Action(Of IElementHandler, IElement)) " />
      <MemberSignature Language="C++ CLI" Value="protected: initonly System::Collections::Generic::Dictionary&lt;System::String ^, Action&lt;Microsoft::Maui::IElementHandler ^, Microsoft::Maui::IElement ^&gt; ^&gt; ^ _mapper;" />
      <MemberSignature Language="F#" Value="val mutable _mapper : System.Collections.Generic.Dictionary&lt;string, Action&lt;Microsoft.Maui.IElementHandler, Microsoft.Maui.IElement&gt;&gt;" Usage="Microsoft.Maui.PropertyMapper._mapper" />
      <MemberType>Field</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Maui</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
        <AssemblyVersion>10.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Collections.Generic.Dictionary&lt;System.String,System.Action&lt;Microsoft.Maui.IElementHandler,Microsoft.Maui.IElement&gt;&gt;</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="Chained">
      <MemberSignature Language="C#" Value="public Microsoft.Maui.IPropertyMapper[]? Chained { get; set; }" />
      <MemberSignature Language="ILAsm" Value=".property instance class Microsoft.Maui.IPropertyMapper[] Chained" />
      <MemberSignature Language="DocId" Value="P:Microsoft.Maui.PropertyMapper.Chained" />
      <MemberSignature Language="VB.NET" Value="Public Property Chained As IPropertyMapper()" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; property cli::array &lt;Microsoft::Maui::IPropertyMapper ^&gt; ^ Chained { cli::array &lt;Microsoft::Maui::IPropertyMapper ^&gt; ^ get(); void set(cli::array &lt;Microsoft::Maui::IPropertyMapper ^&gt; ^ value); };" />
      <MemberSignature Language="F#" Value="member this.Chained : Microsoft.Maui.IPropertyMapper[] with get, set" Usage="Microsoft.Maui.PropertyMapper.Chained" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Maui</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
        <AssemblyVersion>10.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Attributes>
        <Attribute>
          <AttributeName Language="C#">[System.Runtime.CompilerServices.Nullable(new System.Byte[] { 2, 1 })]</AttributeName>
          <AttributeName Language="F#">[&lt;System.Runtime.CompilerServices.Nullable(new System.Byte[] { 2, 1 })&gt;]</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType>Microsoft.Maui.IPropertyMapper[]</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>To be added.</summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="ClearKeyCache">
      <MemberSignature Language="C#" Value="protected virtual void ClearKeyCache ();" />
      <MemberSignature Language="ILAsm" Value=".method familyhidebysig newslot virtual instance void ClearKeyCache() cil managed" />
      <MemberSignature Language="DocId" Value="M:Microsoft.Maui.PropertyMapper.ClearKeyCache" />
      <MemberSignature Language="VB.NET" Value="Protected Overridable Sub ClearKeyCache ()" />
      <MemberSignature Language="C++ CLI" Value="protected:&#xA; virtual void ClearKeyCache();" />
      <MemberSignature Language="F#" Value="abstract member ClearKeyCache : unit -&gt; unit&#xA;override this.ClearKeyCache : unit -&gt; unit" Usage="propertyMapper.ClearKeyCache " />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Maui</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
        <AssemblyVersion>10.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters />
      <Docs>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="GetKeys">
      <MemberSignature Language="C#" Value="public virtual System.Collections.Generic.IEnumerable&lt;string&gt; GetKeys ();" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig newslot virtual instance class System.Collections.Generic.IEnumerable`1&lt;string&gt; GetKeys() cil managed" />
      <MemberSignature Language="DocId" Value="M:Microsoft.Maui.PropertyMapper.GetKeys" />
      <MemberSignature Language="VB.NET" Value="Public Iterator Overridable Function GetKeys () As IEnumerable(Of String)" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; virtual System::Collections::Generic::IEnumerable&lt;System::String ^&gt; ^ GetKeys();" />
      <MemberSignature Language="F#" Value="abstract member GetKeys : unit -&gt; seq&lt;string&gt;&#xA;override this.GetKeys : unit -&gt; seq&lt;string&gt;" Usage="propertyMapper.GetKeys " />
      <MemberType>Method</MemberType>
      <Implements>
        <InterfaceMember>M:Microsoft.Maui.IPropertyMapper.GetKeys</InterfaceMember>
      </Implements>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Maui</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
        <AssemblyVersion>10.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Attributes>
        <Attribute>
          <AttributeName Language="C#">[System.Runtime.CompilerServices.IteratorStateMachine(typeof(Microsoft.Maui.PropertyMapper+&lt;GetKeys&gt;d__17))]</AttributeName>
          <AttributeName Language="F#">[&lt;System.Runtime.CompilerServices.IteratorStateMachine(typeof(Microsoft.Maui.PropertyMapper+&lt;GetKeys&gt;d__17))&gt;]</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType>System.Collections.Generic.IEnumerable&lt;System.String&gt;</ReturnType>
      </ReturnValue>
      <Parameters />
      <Docs>
        <summary>To be added.</summary>
        <returns>To be added.</returns>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="GetProperty">
      <MemberSignature Language="C#" Value="public virtual Action&lt;Microsoft.Maui.IElementHandler,Microsoft.Maui.IElement&gt;? GetProperty (string key);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig newslot virtual instance class System.Action`2&lt;class Microsoft.Maui.IElementHandler, class Microsoft.Maui.IElement&gt; GetProperty(string key) cil managed" />
      <MemberSignature Language="DocId" Value="M:Microsoft.Maui.PropertyMapper.GetProperty(System.String)" />
      <MemberSignature Language="VB.NET" Value="Public Overridable Function GetProperty (key As String) As Action(Of IElementHandler, IElement)" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; virtual Action&lt;Microsoft::Maui::IElementHandler ^, Microsoft::Maui::IElement ^&gt; ^ GetProperty(System::String ^ key);" />
      <MemberSignature Language="F#" Value="abstract member GetProperty : string -&gt; Action&lt;Microsoft.Maui.IElementHandler, Microsoft.Maui.IElement&gt;&#xA;override this.GetProperty : string -&gt; Action&lt;Microsoft.Maui.IElementHandler, Microsoft.Maui.IElement&gt;" Usage="propertyMapper.GetProperty key" />
      <MemberType>Method</MemberType>
      <Implements>
        <InterfaceMember>M:Microsoft.Maui.IPropertyMapper.GetProperty(System.String)</InterfaceMember>
      </Implements>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Maui</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
        <AssemblyVersion>10.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Action&lt;Microsoft.Maui.IElementHandler,Microsoft.Maui.IElement&gt;</ReturnType>
        <Attributes>
          <Attribute FrameworkAlternate="net-maui-10.0">
            <AttributeName Language="C#">[System.Runtime.CompilerServices.Nullable(new System.Byte[] { 2, 1, 1 })]</AttributeName>
            <AttributeName Language="F#">[&lt;System.Runtime.CompilerServices.Nullable(new System.Byte[] { 2, 1, 1 })&gt;]</AttributeName>
          </Attribute>
        </Attributes>
      </ReturnValue>
      <Parameters>
        <Parameter Name="key" Type="System.String" />
      </Parameters>
      <Docs>
        <param name="key">To be added.</param>
        <summary>To be added.</summary>
        <returns>To be added.</returns>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="SetPropertyCore">
      <MemberSignature Language="C#" Value="protected virtual void SetPropertyCore (string key, Action&lt;Microsoft.Maui.IElementHandler,Microsoft.Maui.IElement&gt; action);" />
      <MemberSignature Language="ILAsm" Value=".method familyhidebysig newslot virtual instance void SetPropertyCore(string key, class System.Action`2&lt;class Microsoft.Maui.IElementHandler, class Microsoft.Maui.IElement&gt; action) cil managed" />
      <MemberSignature Language="DocId" Value="M:Microsoft.Maui.PropertyMapper.SetPropertyCore(System.String,System.Action{Microsoft.Maui.IElementHandler,Microsoft.Maui.IElement})" />
      <MemberSignature Language="VB.NET" Value="Protected Overridable Sub SetPropertyCore (key As String, action As Action(Of IElementHandler, IElement))" />
      <MemberSignature Language="C++ CLI" Value="protected:&#xA; virtual void SetPropertyCore(System::String ^ key, Action&lt;Microsoft::Maui::IElementHandler ^, Microsoft::Maui::IElement ^&gt; ^ action);" />
      <MemberSignature Language="F#" Value="abstract member SetPropertyCore : string * Action&lt;Microsoft.Maui.IElementHandler, Microsoft.Maui.IElement&gt; -&gt; unit&#xA;override this.SetPropertyCore : string * Action&lt;Microsoft.Maui.IElementHandler, Microsoft.Maui.IElement&gt; -&gt; unit" Usage="propertyMapper.SetPropertyCore (key, action)" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Maui</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
        <AssemblyVersion>10.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="key" Type="System.String" />
        <Parameter Name="action" Type="System.Action&lt;Microsoft.Maui.IElementHandler,Microsoft.Maui.IElement&gt;" />
      </Parameters>
      <Docs>
        <param name="key">To be added.</param>
        <param name="action">To be added.</param>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="UpdateKeys">
      <MemberSignature Language="C#" Value="public virtual System.Collections.Generic.IReadOnlyCollection&lt;string&gt; UpdateKeys { get; }" />
      <MemberSignature Language="ILAsm" Value=".property instance class System.Collections.Generic.IReadOnlyCollection`1&lt;string&gt; UpdateKeys" />
      <MemberSignature Language="DocId" Value="P:Microsoft.Maui.PropertyMapper.UpdateKeys" />
      <MemberSignature Language="VB.NET" Value="Public Overridable ReadOnly Property UpdateKeys As IReadOnlyCollection(Of String)" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; virtual property System::Collections::Generic::IReadOnlyCollection&lt;System::String ^&gt; ^ UpdateKeys { System::Collections::Generic::IReadOnlyCollection&lt;System::String ^&gt; ^ get(); };" />
      <MemberSignature Language="F#" Value="member this.UpdateKeys : System.Collections.Generic.IReadOnlyCollection&lt;string&gt;" Usage="Microsoft.Maui.PropertyMapper.UpdateKeys" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Maui</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
        <AssemblyVersion>10.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Collections.Generic.IReadOnlyCollection&lt;System.String&gt;</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>To be added.</summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="UpdateProperties">
      <MemberSignature Language="C#" Value="public void UpdateProperties (Microsoft.Maui.IElementHandler viewHandler, Microsoft.Maui.IElement? virtualView);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig newslot virtual instance void UpdateProperties(class Microsoft.Maui.IElementHandler viewHandler, class Microsoft.Maui.IElement virtualView) cil managed" />
      <MemberSignature Language="DocId" Value="M:Microsoft.Maui.PropertyMapper.UpdateProperties(Microsoft.Maui.IElementHandler,Microsoft.Maui.IElement)" />
      <MemberSignature Language="VB.NET" Value="Public Sub UpdateProperties (viewHandler As IElementHandler, virtualView As IElement)" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; virtual void UpdateProperties(Microsoft::Maui::IElementHandler ^ viewHandler, Microsoft::Maui::IElement ^ virtualView);" />
      <MemberSignature Language="F#" Value="abstract member UpdateProperties : Microsoft.Maui.IElementHandler * Microsoft.Maui.IElement -&gt; unit&#xA;override this.UpdateProperties : Microsoft.Maui.IElementHandler * Microsoft.Maui.IElement -&gt; unit" Usage="propertyMapper.UpdateProperties (viewHandler, virtualView)" />
      <MemberType>Method</MemberType>
      <Implements>
        <InterfaceMember>M:Microsoft.Maui.IPropertyMapper.UpdateProperties(Microsoft.Maui.IElementHandler,Microsoft.Maui.IElement)</InterfaceMember>
      </Implements>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Maui</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
        <AssemblyVersion>10.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="viewHandler" Type="Microsoft.Maui.IElementHandler" />
        <Parameter Name="virtualView" Type="Microsoft.Maui.IElement">
          <Attributes>
            <Attribute>
              <AttributeName Language="C#">[System.Runtime.CompilerServices.Nullable(2)]</AttributeName>
              <AttributeName Language="F#">[&lt;System.Runtime.CompilerServices.Nullable(2)&gt;]</AttributeName>
            </Attribute>
          </Attributes>
        </Parameter>
      </Parameters>
      <Docs>
        <param name="viewHandler">To be added.</param>
        <param name="virtualView">To be added.</param>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="UpdateProperty">
      <MemberSignature Language="C#" Value="public void UpdateProperty (Microsoft.Maui.IElementHandler viewHandler, Microsoft.Maui.IElement? virtualView, string property);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig newslot virtual instance void UpdateProperty(class Microsoft.Maui.IElementHandler viewHandler, class Microsoft.Maui.IElement virtualView, string property) cil managed" />
      <MemberSignature Language="DocId" Value="M:Microsoft.Maui.PropertyMapper.UpdateProperty(Microsoft.Maui.IElementHandler,Microsoft.Maui.IElement,System.String)" />
      <MemberSignature Language="VB.NET" Value="Public Sub UpdateProperty (viewHandler As IElementHandler, virtualView As IElement, property As String)" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; virtual void UpdateProperty(Microsoft::Maui::IElementHandler ^ viewHandler, Microsoft::Maui::IElement ^ virtualView, System::String ^ property);" />
      <MemberSignature Language="F#" Value="abstract member UpdateProperty : Microsoft.Maui.IElementHandler * Microsoft.Maui.IElement * string -&gt; unit&#xA;override this.UpdateProperty : Microsoft.Maui.IElementHandler * Microsoft.Maui.IElement * string -&gt; unit" Usage="propertyMapper.UpdateProperty (viewHandler, virtualView, property)" />
      <MemberType>Method</MemberType>
      <Implements>
        <InterfaceMember>M:Microsoft.Maui.IPropertyMapper.UpdateProperty(Microsoft.Maui.IElementHandler,Microsoft.Maui.IElement,System.String)</InterfaceMember>
      </Implements>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Maui</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
        <AssemblyVersion>10.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="viewHandler" Type="Microsoft.Maui.IElementHandler" />
        <Parameter Name="virtualView" Type="Microsoft.Maui.IElement">
          <Attributes>
            <Attribute>
              <AttributeName Language="C#">[System.Runtime.CompilerServices.Nullable(2)]</AttributeName>
              <AttributeName Language="F#">[&lt;System.Runtime.CompilerServices.Nullable(2)&gt;]</AttributeName>
            </Attribute>
          </Attributes>
        </Parameter>
        <Parameter Name="property" Type="System.String" />
      </Parameters>
      <Docs>
        <param name="viewHandler">To be added.</param>
        <param name="virtualView">To be added.</param>
        <param name="property">To be added.</param>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="UpdatePropertyCore">
      <MemberSignature Language="C#" Value="protected virtual void UpdatePropertyCore (string key, Microsoft.Maui.IElementHandler viewHandler, Microsoft.Maui.IElement virtualView);" />
      <MemberSignature Language="ILAsm" Value=".method familyhidebysig newslot virtual instance void UpdatePropertyCore(string key, class Microsoft.Maui.IElementHandler viewHandler, class Microsoft.Maui.IElement virtualView) cil managed" />
      <MemberSignature Language="DocId" Value="M:Microsoft.Maui.PropertyMapper.UpdatePropertyCore(System.String,Microsoft.Maui.IElementHandler,Microsoft.Maui.IElement)" />
      <MemberSignature Language="VB.NET" Value="Protected Overridable Sub UpdatePropertyCore (key As String, viewHandler As IElementHandler, virtualView As IElement)" />
      <MemberSignature Language="C++ CLI" Value="protected:&#xA; virtual void UpdatePropertyCore(System::String ^ key, Microsoft::Maui::IElementHandler ^ viewHandler, Microsoft::Maui::IElement ^ virtualView);" />
      <MemberSignature Language="F#" Value="abstract member UpdatePropertyCore : string * Microsoft.Maui.IElementHandler * Microsoft.Maui.IElement -&gt; unit&#xA;override this.UpdatePropertyCore : string * Microsoft.Maui.IElementHandler * Microsoft.Maui.IElement -&gt; unit" Usage="propertyMapper.UpdatePropertyCore (key, viewHandler, virtualView)" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Maui</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
        <AssemblyVersion>10.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="key" Type="System.String" />
        <Parameter Name="viewHandler" Type="Microsoft.Maui.IElementHandler" />
        <Parameter Name="virtualView" Type="Microsoft.Maui.IElement" />
      </Parameters>
      <Docs>
        <param name="key">To be added.</param>
        <param name="viewHandler">To be added.</param>
        <param name="virtualView">To be added.</param>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
  </Members>
</Type>
